<h1> New Task </h1>

<%= form_with url: tasks_path, method: :post, data: {turbo: false} do |form| %>
  <%= form.label :name, "Name:" %> <br>
  <%= form.text_field :name %> <br>

  <br>

  <%= form.label :body, "Body:" %> <br>
  <%= form.text_area :body, size: '60x12' %> <br>

  <br>
  <%= form.submit "Submit Form" %>
<% end %>